{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}


<div class="container py-5">
  <h2 class="text-center mb-5 display-6">Annonces</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for annonce in annonces %}
    <div class="col">
      <div class="card h-100 shadow-sm border-0 rounded-3 overflow-hidden">
        <div class="position-relative">
          <img
            src="{{ annonce.image.url }}"
            class="card-img-top object-fit-cover"
            alt="{{ annonce.titre }}"
            style="height: 200px"
          />
          
          <span
            class="position-absolute top-0 end-0 m-2 fs-6 badge px-3 py-2 fw-bold rounded-pill {% if annonce.statut == 'validee' %}bg-success {% elif annonce.statut == 'rejetee' %}bg-danger {% else %}bg-secondary{% endif %} bg-opacity-50   "
          >
            {{ annonce.statut }}
          </span>
        </div>

        <div class="card-body d-flex flex-column pb-0">
          <div class="mb-2">
            <span class="badge text-bg-light text-dark border"
              >{{ annonce.category }}</span
            >
          </div>

          <h5 class="card-title mb-2">{{ annonce.titre }}</h5>
          <p class="card-text text-muted mb-3">
            {{ annonce.description|truncatechars:100 }}
          </p>
        </div>

        <div class="card-footer bg-transparent border-0 pt-0 pb-3">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="text-muted small mb-0">Price</p>
              <h5 class="mb-0 text-success">{{ annonce.prix }} </h5>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


{% bootstrap_css %} {% bootstrap_javascript %}
